# pixi environments
.pixi
*.egg-info
*.netcdf
*.nc
*.csv
*.log
*.txt
*.geojson
*.pptx
*.pdf
*.png
**/calib_data/
**/5-visualization/
**/level*/
**/3-input/
**/.snakemake/
**/metadata/
*.sif
*.zip
vanHessel/
vanJoost/
